:root {
  --Mainbackground: hsl(222, 26%, 31%);
  --Screenbackground: hsl(224, 36%, 15%);
  --Tooglebackground: hsl(223, 31%, 20%);
  --Keybackground: hsl(30, 25%, 89%);
  --Keyshadow: hsl(28, 16%, 65%);
  --Textgray: hsl(221, 14%, 31%);
  --Keydelresbackground: hsl(225, 21%, 49%);
  --Keydelresshadow: hsl(224, 28%, 35%);
  --Keyequalbackground: hsl(6, 63%, 50%);
  --Keyequalshadow: hsl(6, 70%, 34%);
  --Generaltext: hsl(0, 0%, 100%);
  --Numberscolor: hsl(221, 14%, 31%);
  --Delrescolor: hsl(0, 0%, 100%);
  --Equalcolor: hsl(0, 0%, 100%);
  --Footercolor: hsl(0, 100%, 0%);
  --Linkcolor: hsl(0, 0%, 100%);
}

.lightTheme {
  --Mainbackground: hsl(0, 0%, 90%);
  --Screenbackground: hsl(0, 0%, 93%);
  --Tooglebackground: hsl(0, 5%, 81%);
  --Keybackground: hsl(45, 7%, 89%);
  --Keyshadow: hsl(35, 11%, 61%);
  --Textgray: hsl(60, 10%, 19%);
  --Keydelresbackground: hsl(185, 42%, 37%);
  --Keydelresshadow: hsl(185, 58%, 25%);
  --Keyequalbackground: hsl(25, 98%, 40%);
  --Keyequalshadow: hsl(25, 99%, 27%);
  --Generaltext: hsl(60, 10%, 19%);
  --Numberscolor: hsl(60, 10%, 19%);
  --Delrescolor: hsl(0, 0%, 100%);
  --Equalcolor: hsl(0, 0%, 100%);
  --Footercolor: hsl(0, 100%, 0%);
  --Linkcolor: hsl(60, 10%, 19%);
}

.tokyoNightTheme {
  --Mainbackground: hsl(268, 75%, 9%);
  --Screenbackground: hsl(268, 71%, 12%);
  --Tooglebackground: hsl(268, 71%, 12%);
  --Keybackground: hsl(268, 47%, 21%);
  --Keyshadow: hsl(290, 70%, 36%);
  --Textgray: hsl(52, 100%, 62%);
  --Keydelresbackground: hsl(281, 89%, 26%);
  --Keydelresshadow: hsl(285, 91%, 52%);
  --Keyequalbackground: hsl(176, 100%, 44%);
  --Keyequalshadow: hsl(177, 92%, 70%);
  --Generaltext: hsl(52, 100%, 62%);
  --Numberscolor: hsl(52, 100%, 62%);
  --Delrescolor: hsl(0, 0%, 100%);
  --Equalcolor: hsl(198, 20%, 13%);
  --Footercolor: hsl(52, 100%, 62%);
  --Linkcolor: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Spartan', sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--Mainbackground);
}

.container {
  height: 100vh;
  margin: auto;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 100px 1fr 0.8fr;
  grid-template-areas: "header"
                       "display"
                       "controls"
                       "footer";
}

.container > div {
  padding: 20px;
}

.header {
  grid-area: header;
  color: var(--Generaltext);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  align-self: flex-end;
  font-size: 20px;
}

.header > div {
  align-self: flex-end;
}

.switch {
  float: left;
  background: var(--Tooglebackground);
  border-radius: 10px;
}

.switch > input {
  position: absolute;
  opacity: 0;
  padding: 15px;
}

.switch > input + label {
  padding: 10px;
  float: left;
  color: #fff;
  cursor: pointer;
}

.switch > input:checked + label {
  background: var(--Keyequalbackground);
  border-radius: 10px;
}

.display {
  grid-area: display;
  background-color: var(--Screenbackground);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  color: var(--Generaltext);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 40px;
  word-wrap: break-word;
}

.controls {
  grid-area: controls;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: var(--Tooglebackground);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.controls > button {
  margin: 8px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 32px;
  border-width: 0;
  border-bottom-width: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: inset;
}

.controls > button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#number {
  color: var(--Numberscolor);
  background-color: var(--Keybackground);
  border-color: var(--Keyshadow);
}

#operator {
  color: var(--Textgray);
  background-color: var(--Keybackground);
  border-color: var(--Keyshadow);
}

#delete {
  color: var(--Delrescolor);
  background-color: var(--Keydelresbackground);
  border-color: var(--Keydelresshadow);
  font-size: 20px;
}

#reset {
  color: var(--Delrescolor);
  background-color: var(--Keydelresbackground);
  border-color: var(--Keydelresshadow);
  font-size: 20px;
}

#equal {
  color: var(--Equalcolor);
  background-color: var(--Keyequalbackground);
  border-color: var(--Keyequalshadow);
  font-size: 20px;
}

.span-two {
  grid-column: span 2;
}

footer {
  grid-area: footer;
  display: flex;
  align-self: flex-end;
  justify-self: center;
}

@media screen and (max-width: 786px) {
  .container {
    height: 100vh;
    width: 95%;
  }
}
